{% extends "layout.html" %}
{% block content %}
<h1>Dashboard</h1>
<form method="POST" action="{{ url_for('main.add_streamer') }}">
    <input type="text" name="username" placeholder="Streamer Username">
    <button type="submit">Add Streamer</button>
</form>
<ul>
{% for streamer in streamers %}
    <li>
        {{ streamer.username }} 
        {% if streamer.is_live %}
            <span style="color: green;">Online</span>
        {% else %}
            <span style="color: red;">Offline</span>
        {% endif %}
        {% if streamer.stream_title %}
            - {{ streamer.stream_title }}
        {% endif %}
        {% if streamer.game_name %}
            ({{ streamer.game_name }})
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}